<div class="login-page">
    <div class="top">
        <div class="title">
            LOGIN PAGE
        </div>
        <div class="warning">
            <%= flash.notice %>
        </div>
    </div>
    <div class="form">
        
        <%= form_tag login_path do %>
        <div class="label">
            <%= label_tag "USERNAME    " %> 
            <%= text_field_tag :username %>
        </div>
        <div class="label">
            <%= label_tag "PASSWORD    " %> 
            <%= password_field_tag :password %>
        </div>    
        <div class="submit">
            <%= submit_tag "LOGIN" %>
        </div>
        <% end %>
    </div>

    <div class="options">
        <p><%= link_to "New User", new_user_path%></p>
        <p><%= link_to "Users List", users_path%></p>
    </div> 
</div>