
<h1>LOGIN PAGE</h1>

<%= flash.notice %>

<div>
    <%= form_tag login_path do %>
        <%= label_tag "USERNAME :" %>
        <%= text_field_tag :username %>
        <%= submit_tag "LOGIN" %>
    <% end %>
</div>

<div>
    <p><%= link_to "New User", new_user_path%></p>
    <p><%= link_to "Users List", users_path%></p>
</div>