<div class="login-page">
    

            

    
    <div class="form p-5 m-auto" style="width: 50vw;">
    
        <%= form_tag login_path do %>

        <div class="form-tag p-3">
            <%= label_tag "USERNAME  " %> 
            <%= text_field_tag :username, nil, class: "form-control" %>
        </div>
        <div class="form-tag p-3">
            <%= label_tag "PASSWORD  " %> 
            <%= password_field_tag :password, nil, class: "form-control"  %>  
        </div class=>
        <div class="p-3">
            <%= submit_tag "LOGIN", class: "btn btn-primary mr-3 " %>
            <%= link_to "New User", new_user_path, class: "btn btn-primary " %>
        </div>
        <% end %>
        <div class="p-3">
        <%= flash.notice %>
        </div>
    </div>
</div>