

<div class="form">
<%= form_for @blog do |f| %>
  <div class="title">
  <%= f.text_area :title, class: "field", placeholder: "Title" %>
  </div>
  
  <div class="paragraph">
  <%= f.text_area :content, class: "field", placeholder: "Content" %>
  </div>
  
  <%= f.hidden_field :user_id, value: session[:user_id] %>

  <%= f.submit class: "submit", value: "Publish" %>
<% end  %>
</div>