<h1>Show Page for Blog </h1>
<h3><%= @blog.title %></h3>
<div>
By <%=link_to @blog.user.username, user_path(@blog.user) %>
</div>

<div>
<%= @blog.content %>
</div>

<div>
<%= button_to 'Like', blog_likes_path(@blog), method: :post %>
Likes: <%= @blog.likes.count %>
</div>

<%= link_to "Blogs", blogs_path %>
<%= link_to "Edit Page", edit_blog_path(@blog)%>
<%= form_tag(blog_path(@blog), method: :delete) do %>
<%= submit_tag "Delete blog"%>
<%end%>
