<div class="title">
    <h3><%= @blog.title %></h3>
    <h4>By <%=link_to @blog.user.username, user_path(@blog.user) %></h4>
</div>

<div class="blog_content">
    <%= @blog.content %>
</div>

<br>

<div class="blog_options">
    <% if @blog.user.id == session[:user_id]%>
        <%= link_to "Edit Page", edit_blog_path(@blog)%>
        <%= form_tag(blog_path(@blog), method: :delete) do %>
            <%= submit_tag "Delete blog"%>
        <%end%>
    <% end %>
</div>


<div class="like_button">
    <% if Like.find_by(blog_id: @blog.id, user_id: session[:user_id]) %>
        <%= button_to 'SMASH THE Unlike', unlike_path(@blog), method: :get %> 
    <%else%>
        <%= button_to 'SMASH THE Like', blog_likes_path(@blog), method: :post %>
    <%end%>
    <div class="like_count">
    Likes: <%= @blog.likes.count %>
    </div>
</div>


<div class="comments">
    <%@blog.comments.each do |c| %>
        <div class="comment">
            <div class="user">
                USER: <%=link_to c.user.name, user_path(c.user) %>
            </div>
            <div class="comment_content">
                <%= c.content %>
            </div>
            <div class="comment_like_button">
                <% if CommentLike.find_by(comment_id: c.id, user_id: session[:user_id]) %>
                    <%= button_to 'SMASH THE Unlike', unlike_comment_path(c), method: :get %> 
                <%else%>
                    <%= button_to 'SMASH THE Like', like_comment_path(c), method: :post %>
                <%end%>
            </div>
            <div class="like_count">
                Likes: <%= c.comment_likes.count %>
            </div>
        </div>
    <%end%>
</div>

<div>
    <%= render "form_new_comment"%>
</div>



