<div class="px-4">
<h1 class="display-4"><%= @blog.title %></h1>
<div class="d-flex flex-row border p-2 align-items-baseline">
    <h5 class="pr-4">By <%=link_to @blog.user.username, user_path(@blog.user) %></h5>
    <div class="align-self-baseline pr-1"><% if Like.find_by(blog_id: @blog.id, user_id: session[:user_id]) %>
        <%= button_to 'Unlike', unlike_path(@blog), method: :get, :class=>"btn btn-danger btn-sm" %> 
    <%else%>
        <%= button_to 'Like', blog_likes_path(@blog), method: :post, :class=>"btn btn-primary btn-sm" %>
    <%end%></div>
    <div><%= @blog.likes.count %></div>
</div>

<div class="px-4"><%=@blog.content%></div>

<%= render "form_new_comment"%>

<%@blog.comments.each do |c| %>
    <div class="">
    USER: <%=link_to c.user.name, user_path(c.user) %>
    <%= c.content %>
    <% if CommentLike.find_by(comment_id: c.id, user_id: session[:user_id]) %>
        <%= button_to 'Unlike', unlike_comment_path(c), method: :get, :class=>"btn btn-danger btn-sm" %> 
    <%else%>
        <%= button_to 'Like', like_comment_path(c), method: :post, :class=>"btn btn-primary btn-sm" %>
    <%end%>    
    Likes: <%= c.comment_likes.count %>
<%end%>
    </div>
</div>