<h1 class="display-4"><%= @blog.title %></h1>
By <%=link_to @blog.user.username, user_path(@blog.user) %>

<% if Like.find_by(blog_id: @blog.id, user_id: session[:user_id]) %>
    <%= button_to 'Unlike', unlike_path(@blog), method: :get %> 
<%else%>
    <%= button_to 'Like', blog_likes_path(@blog), method: :post %>
<%end%>

Likes: <%= @blog.likes.count %>
<%=@blog.content%>

<%= render "form_new_comment"%>

<%@blog.comments.each do |c| %>
    USER: <%=link_to c.user.name, user_path(c.user) %>
    <%= c.content %>
    <% if CommentLike.find_by(comment_id: c.id, user_id: session[:user_id]) %>
        <%= button_to 'Unlike', unlike_comment_path(c), method: :get %> 
    <%else%>
        <%= button_to 'Like', like_comment_path(c), method: :post %>
    <%end%>
    
    Likes: <%= c.comment_likes.count %>
<%end%>