

    <div class="form">
    <%= form_for @user do |f| %>
        <div class="label">
            <%=f.label :username%>
            <%=f.text_field :username%>
        </div>
        <div class="label">
            <%=f.label :email%>
            <%=f.text_field :email%>
        </div>
        <div class="label">
            <%=f.label :name%>
            <%=f.text_field :name%>
        </div>
        <div class="label">
            <%=f.label :password%>
            <%=f.text_field :password%>
        </div>
        <div class="submit">
            <%=f.submit%>
        </div>
    </div>
    <%end%>
