
<div class="user-show">
   
    <div class="information">
        <div class="label">
            <div>
                NAME:
            </div>
            <div>
                <%=@user.name%>
            </div>
        </div>
        <div class="label">
            <div>
                USERNAME:
            </div>
            <div>
                <%=@user.username%>
            </div>
        </div>
        <div class="label">
            <div>
                EMAIL:
            </div>
            <div>
                <%=@user.email%>
            </div>
        </div>
            <% if current_user == @user %>
                <div class="label" id="end">
                    <%=button_to "Edit Information", edit_user_path(@user)%>
                    <%= form_tag(user_path(@user), method: :delete) do %>
                        <%= submit_tag "delete"%>
                </div>
                <%end%>
            <%end %>
    </div>
    <div class="user-blogs">
        <% @user.blogs.each do |blog| %>
   
                    <%= link_to blog.title, blog_path(blog), class:"blog_link"%>
              
        <% end %>
    </div>




<div>

