<h1> User Show Page </h1>
<div>
Name: <%=@user.name%>
</div>

<div>
UserName: <%=@user.username%>
</div>
<div>
Email: <%=@user.email%>
</div>
<div>
PW: <%=@user.password%>
</div>
<div>

<% if current_user == @user %>
    <%=link_to "Edit #{@user.name} page", edit_user_path(@user)%>
    <%= form_tag(user_path(@user), method: :delete) do %>
        <%= submit_tag "delete"%>
    <%end%>
<%end %>

</div>
<div>
<%= link_to "#{@user.name}'s Blogs", user_blogs_path%>
</div>

