
<div class="d-flex flex-row p-5 container">
    <div class="column card" style="width: 18rem; height: 32rem;">
        <img class="card-img-top" src="<%=Faker::Avatar.image%>" alt="Card image cap">

        <ul class="list-group list-group-flush">
            <li class="list-group-item d-flex justify-content-between">
                <div class="font-weight-bold">USERNAME: </div> 
                <div class="font-weight-light"><%=@user.username%></div>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <div class="font-weight-bold">NAME: </div> 
                <div class="font-weight-light"><%=@user.name%></div>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <div class="font-weight-bold">EMAIL: </div> 
                <div class="font-weight-light"><%=@user.email%></div>
            </li>
        
        <% if current_user == @user %>
            <li class="list-group-item d-flex justify-content-between">
                <div><%= button_to "Edit Information", edit_user_path(@user), method: :get,class: "btn btn-secondary"%></div>
                <%= form_tag(user_path(@user), method: :delete) do %>
                    <div ><%= submit_tag "Delete", class: "btn btn-secondary"%></div>
                <%end%>
            </li>
        <% end %>
        </ul>
    </div>
    <div class="column " style="width: 50rem; height: 32rem;">
        <div class="text-center p-1 font-weight-bold">BLOGS</div>
        <div id="accordion">
        <% @user.blogs.each do |blog| %>
            <div class="card">
                <div class="card-header" id="heading<%=blog.id%>">
                    <h5 class="mb-0">
                        <button class="btn btn-link text-decoration-none" data-toggle="collapse" data-target="#collapse<%=blog.id%>" aria-expanded="true" aria-controls="collapse<%=blog.id%>">
                        <div class="d-flex justify-content-between">
                            <div class="p-1 font-weight-bold"><%=blog.comments.count%>💬</div>
                            <div class="p-1 font-weight-bold"><%=blog.likes.count%>👍</div>
                            <div class="p-1 font-weight-bold"><%=blog.created_at.strftime("%m/%d/%Y")%></div>
                            <a href="<%=blog_path(blog)%>" class="p-1"><%=blog.title%></a>
                                
                        </div>
                        </button>
                    </h5>
                </div>

                <div id="collapse<%=blog.id%>" class="collapse show" aria-labelledby="heading<%=blog.id%>" data-parent="#accordion">
                    <div class="card-body">
                        <%=blog.content%>
                    </div>
                </div>
            </div>
        <% end %>
        </div>
    </div>
<div>

