<div class="homepage">
    <div class="left-home">
            <div class="head"><h2>Newest Blogs</h2></div>
            <% @blogs.each do |blog| %>
                <div class="single_blog">
                    <div class="title">
                        <%=link_to blog.title, blog_path(blog)%>
                    </div>
                    <div class="description">
                        <div class="creator">
                            By: <%=link_to blog.user.name, user_path(blog.user)%> 
                        </div>
                        <br>
                        <div class="likes">
                            Likes: <%= blog.likes.count%>
                        </div>
                    </div>
                </div>
            <%end%>
    </div>
    <div class="right-home">
        <% if session[:user_id]%>
            <div class="home_profile">
                <% if session[:user_id]%>
                    <div>
                        Signed in as: <%=current_user.name%>
                    </div>
                <%end%>
            </div>
            <div class="user_notif">
                <h3>This is notifications</h3>
            <div>
        <%else%>
            <div class="home_profile">
                    <div>
                        <%= link_to "Make a new user", new_user_path%>
                    </div>
            </div>
            <div class="user_notif">
                <h3>ABOUT:</h3>
                <p>THIS IS A WEBSITE ABOUT STUFF</p>
                <p>THIS IS A WEBSITE ABOUT STUFF</p>
                <p>THIS IS A WEBSITE ABOUT STUFF</p>
                <p>THIS IS A WEBSITE ABOUT STUFF</p>
            <div>
        <%end%>
    </div>
</div>