<div class="homepage">
    <div class="home_blogs">
        <div class="head"><h2>Newest Blogs</h2></div>
        <% @blogs.each do |blog| %>
            <div class="single_blog">
                <div class="title">
                    <%=link_to blog.title, blog_path(blog)%>
                </div>
                <div class="creator">
                By: <%=link_to blog.user.name, user_path(blog.user)%> 
                </div>
                <div class="likes">
                Likes: <%= blog.likes.count%>
                </div>
            </div>
        <%end%>
    </div> 

    <div class="home_profile">
        <% if session[:user_id]%>
            <h3><%= link_to "Profile", user_path(current_user)%></h3>
            <div>
                Welcome Back <%=current_user.name%>
            </div>
        <%end%>
    </div>

    <div class="user_notif">
        <h3>This is notifications</h3>
    <div>
</div>