<div class="homepage">
    <div class="left-home">
            <div class="head"><h2>Newest Blogs</h2></div>
            <% @blogs.each do |blog| %>
                <div class="single_blog">
                    <div class="title">
                        <%=link_to blog.title, blog_path(blog)%>
                    </div>
                    <div class="description">
                        <div class="creator">
                            By: <%=link_to blog.user.name, user_path(blog.user)%> 
                        </div>
                        <br>
                        <div class="likes">
                            Comments: <%= blog.comments.count %>
                            Likes: <%= blog.likes.count%>
                        </div>
                    </div>
                </div>
            <%end%>
    </div>
    <div class="right-home">
        <% if session[:user_id]%>
            <div class="home_profile">
                <% if session[:user_id]%>
                    <div>
                        Signed in as: <%=current_user.name%>
                    </div>
                <%end%>
            </div>
            <div class="user_notif">
                <h3>This is notifications</h3>
                <h3>PAY 5 Dollars a month for this feature</h3>
                
            <div>
        <%else%>
            <div class="home_profile">
                    <div>
                        <%= link_to "Make a new user", new_user_path%>
                    </div>
            </div>
            <div class="user_notif">
                <h3>ABOUT:</h3>
                <p>THIS IS A WEBSITE ABOUT STUFF</p>
                <p>THIS IS A WEBSITE ABOUT STUFF</p>
                <p>THIS IS A WEBSITE ABOUT STUFF</p>
                <p>THIS IS A WEBSITE ABOUT STUFF</p>
            <div>
        <%end%>
    </div>
</div>

<form role="form">
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" id="username" name="username" class="form-control" />
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" id="password" name="password" class="form-control" />
  </div>

  <input type="submit" value="Login" />
  <input type="button" value="Cancel" />
</form>

<a class="btn btn-primary" href="#" role="button">Link</a>
<button class="btn btn-primary" type="submit">Button</button>
<input class="btn btn-primary" type="button" value="Input">
<input class="btn btn-primary" type="submit" value="Submit">
<input class="btn btn-primary" type="reset" value="Reset">