<!DOCTYPE html>
<html>
  <head>
    <title>MLBlogSite</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="navbar">
        <%=render "nav_bar"%>
    </div>
  <br>
    <div class="views">

      <%= yield %>

    </div>
  <br>
  </body>
</html>
